<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- String de Vale-->
     <add key="server" value="DESKTOP-15BOB3D\MSSQLSERVER2018"/>
    <add key="user_db" value="sa"/>
    <add key="base_db" value="Kost"/>
    <add key="password_db" value="SQLServer2018"/>
  
    <!-- String de Lucas-->
    <!--<add key="server" value=".\SQLEXPRESS"/>
    <add key="user_db" value="sa"/>
    <add key="base_db" value="Kost"/>
    <add key="password_db" value="root"/>-->

    
     <!-- String de Marcos-->
    <!--<add key="server" value=".\SQLEXPRESS"/>
    <add key="user_db" value="sa"/>
    <add key="base_db" value="Kost"/>
    <add key="password_db" value="37409108"/>-->
  

  </appSettings>
</configuration>